/* Center calculator on the page */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* img {
  display: inline-block;
  height: 50%;
  width: 50%;
}  */

/* Calculator container */
.calculator-container {
  display: grid;
  border: 1px solid black;
  width: 500px;
  height: 1000px;
  position: relative;
  background-color: rgb(255, 166, 0);
  border-radius: 1rem;
}

/* Display area */
.display {
  display: grid;
  padding: 10px;
  margin-bottom: 80px;
  font-size: 2em;
  text-align: right;
}

.screen {
  display: flex;
  border: 4px solid black;
  margin-top: 100px;
  background-color: yellowgreen;
}

/* Button grid */
.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  padding: 20px;
}
/* General button style */
button {
  font-size: 1.2em;
  font-weight: bold;
}

/* Hover effect */

/* Numbers */
.number {
  border: 0.5rem solid rgb(255, 230, 6);
  border-radius: 10px;
}

/* Operator buttons (right column)*/
.operator {
  border: 0.2rem solid rgb(0, 85, 255);
  border-radius: 10px;
}

/* Utility buttons (top row) */
.utility {
  border: 0.2rem solid rgb(0, 85, 255);
  border-radius: 10px;
}

/* positioning */
#one.number {
  grid-column: 1;
  grid-row: 4;
}
#two.number {
  grid-column: 2;
  grid-row: 4;
}
#three.number {
  grid-column: 3;
  grid-row: 4;
}
#four.number {
  grid-column: 1;
  grid-row: 3;
}
#five.number {
  grid-column: 2;
  grid-row: 3;
}
#six.number {
  grid-column: 3;
  grid-row: 3;
}
#seven.number {
  grid-column: 1;
  grid-row: 2;
}
#eight.number {
  grid-column: 2;
  grid-row: 2;
}
#nine.number {
  grid-column: 3;
  grid-row: 2;
}
#zero.number {
  grid-column: 2;
  grid-row: 5;
}

#plus.operator {
  grid-column: 4;
  grid-row: 4;
}
#minus.operator {
  grid-column: 4;
  grid-row: 3;
}
#divide.operator {
  grid-column: 4;
  grid-row: 2;
}
#multiply.operator {
  grid-column: 4;
  grid-row: 1;
}

#decimal.utility {
  grid-column: 3;
  grid-row: 5;
}
#equals.utility {
  grid-column: 4;
  grid-row: 5;
}
#powerButton.utility {
  grid-column: 1;
  grid-row: 5;
}
#plusMinus.utility {
  grid-column: 3;
  grid-row: 1;
}
#clear.utility {
  grid-column: 1;
  grid-row: 1;
}
#clearEntry.utility {
  grid-column: 2;
  grid-row: 1;
}

/* .copyright-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: white;
} */
