/* Center calculator on the page */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(0, 0%, 95%);

}

/* Calculator container */
.calculator-container {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

/* Display area */
#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  color: #ff0000;
  border: none;
  background-color: hsl(0, 0%, 20%);
}

/* Button grid */
.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px; /* between keys */
  padding: 25px; /* around keys */
}

/* General button style */
button {
  width: 100px;
  height: 100px;
  font-size: 3rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: hsl(0, 0%, 30%);
  cursor: pointer;
  overflow: hidden;
}

/* Hover effect & active */
button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}

/* Numbers */
.number {
  border: 0.2rem solid rgb(255, 255, 255);
  background-color: rgb(255, 230, 6);
}

/* Operator buttons (right column)*/
.operator {
  border: 0.2rem solid rgb(255, 255, 255);
  background-color: rgb(0, 85, 255);
}

/* Utility buttons (top row) */
.utility {
  border: 0.2rem solid rgb(255, 255, 255);
  background-color: rgb(252, 164, 0);
}

/* positioning */
#one.number {
  grid-column: 1;
  grid-row: 4;
}
#two.number {
  grid-column: 2;
  grid-row: 4;
}
#three.number {
  grid-column: 3;
  grid-row: 4;
}
#four.number {
  grid-column: 1;
  grid-row: 3;
}
#five.number {
  grid-column: 2;
  grid-row: 3;
}
#six.number {
  grid-column: 3;
  grid-row: 3;
}
#seven.number {
  grid-column: 1;
  grid-row: 2;
}
#eight.number {
  grid-column: 2;
  grid-row: 2;
}
#nine.number {
  grid-column: 3;
  grid-row: 2;
}
#zero.number {
  grid-column: 2;
  grid-row: 5;
}

#plus.operator {
  grid-column: 4;
  grid-row: 4;
}
#minus.operator {
  grid-column: 4;
  grid-row: 3;
}
#divide.operator {
  grid-column: 4;
  grid-row: 2;
}
#multiply.operator {
  grid-column: 4;
  grid-row: 1;
}

#decimal.utility {
  grid-column: 3;
  grid-row: 5;
}
#equals.utility {
  grid-column: 4;
  grid-row: 5;
}
#powerButton.utility {
  grid-column: 1;
  grid-row: 5;
}
#plusMinus.utility {
  grid-column: 3;
  grid-row: 1;
}
#clear.utility {
  grid-column: 1;
  grid-row: 1;
}
#clearEntry.utility {
  grid-column: 2;
  grid-row: 1;
}

/* .copyright-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: white;
} */
